$desktop-width: 1200px;
$tablet-width: 1023px;
$tablet-continer-width: 975px;
$mobile-width: 767px;
$mobile-continer-width: 737px;
$main-color: #ff1515;
$addition-color: #4a83ec;
$gray-color: #bebebe;
$error-color: #fc1414;